html {
  background-image: url('./glyphpattern2.png');
  color: #212528;
}

body {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

button {
  background: #a9a07f;
}

.body {
  background: url('./paper.png');
  padding: 2rem;
  width: 70vw;
  box-shadow: 1px 1px 0px black, 2.5px 2.5px 0px #eaeaea, 3.5px 3.5px 0px black, 5px 5px 0px #eaeaea, 6px 6px 0px black,
    7.5px 7.5px 0px #eaeaea, 8.5px 8.5px 0px black, 10px 10px 0px #eaeaea, 11px 11px 0px black,
    12.5px 12.5px 0px #eaeaea, 13.5px 13.5px 0px black, 15px 15px 0px #eaeaea;
}

.paper {
  background: url('./handmadepaper.png');
  box-shadow: 8px 8px 16px #212528;
  padding: 1rem;
  margin: 1rem;
}

.bookstats {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.bookstat {
  width: 40%;
}

.book-divider {
  width: 60%;
  margin: 0 20%;
}

.reviews {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.reviewblock {
  width: 40%;
}
