html {
  background-image: url('./glyphpattern2.png');
  color: #212528;
  font-family: 'Fondamento', serif;
}

*::selection {
  background: #a9a07f;
  color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

div {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

button {
  background: #212528;
  margin: 1rem;
  border: 3px solid #a9a07f;
  color: #a9a07f;
  padding: 0.5rem;
  font-family: 'Fondamento', serif;
  font-size: 1rem;
}

input {
  font-family: 'Fondamento', serif;
}

.big-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.big-button {
  padding: 1rem;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background: #a9a07f;
  color: #212528;
  border: 3px solid #212528;
}

.body {
  background: url('./paper.png');
  padding: 2rem;
  margin: 5rem;
  width: 70vw;
  box-shadow: 1px 1px 0px black, 2.5px 2.5px 0px #eaeaea, 3.5px 3.5px 0px black, 5px 5px 0px #eaeaea, 6px 6px 0px black,
    7.5px 7.5px 0px #eaeaea, 8.5px 8.5px 0px black, 10px 10px 0px #eaeaea, 11px 11px 0px black,
    12.5px 12.5px 0px #eaeaea, 13.5px 13.5px 0px black, 15px 15px 0px #eaeaea;
}

.label {
  padding: 0 1rem;
}

.paper {
  background: url('./handmadepaper.png');
  box-shadow: 4px 4px 8px #212528;
  padding: 1rem;
  margin: 1rem;
}

.cover {
  margin-top: 30px;
  box-shadow: 4px 4px 8px #212528;
}

.register-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.register-login input {
  padding: 0.5rem;
  width: 12vw;
}

.register-login h4 {
  margin-right: 2rem;
}

.search-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-banner h4 {
  font-size: 2rem;
}

.search-inputs {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}

.search-inputs div {
  margin: 1rem;
}

.searchbar {
  padding: 0.5rem;
  width: 16vw;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  margin: 5vw;
}

.search-result {
  padding: 1rem;
  margin: 0.5rem;
  width: 16vw;
}

.bookstats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bookstat {
  width: 25vw;
}

.book-divider {
  width: 60%;
  margin: 5vh 20%;
}

.reviews {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.reviewblock {
  width: 25vw;
}

.review-textarea {
  width: 90%;
  height: 100px;
  resize: none;
  margin: 0 1rem;
}

.review-text {
  margin-left: 1rem;
}

.review {
  margin-bottom: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.i {
  font-style: italic;
}

.b {
  font-weight: 700;
}

.hand {
  font-family: 'Tangerine', cursive;
  color: #878169;
  font-size: 2rem;
}
