{% extends "layout.html" %} {% block title %} {{ book.title }} by {{book.author}} {% endblock %} {% block body %}
<h1><span class="i">{{book.title}}</span> by {{book.author}}</h1>

<div class="bookstats">
  <a href="https://openlibrary.org/"> <img src="{{queryString}}" class="cover" alt="book cover image" /> </a>
  <div>
    <u><h2 class="label">Statistics</h2></u>
    <div class="paper bookstat">
      <p>ISBN — <span class="hand">{{ book.isbn }}</span></p>
      <p>Year Published — <span class="hand">{{ book.year }}</span></p>
      <p>Goodreads Avg. Rating — <span class="hand">{{ gravg }}</span></p>
      <p>Goodreads Review Count — <span class="hand">{{ grcount }}</span></p>
    </div>
  </div>
</div>

<img src="../static/toppng.com-line-dividers-png-1000x200.png" alt="divider" class="book-divider" />
<div class="reviews">
  {% if notreviewed %}
  <div>
    <u><h2 class="label">Review this Book</h2></u>
    <div class="paper reviewblock">
      <form action="{{ url_for('book', book_id=book.id) }}" method="post">
        <div><label>Your rating out of 10: </label><input type="number" name="rating" min="0" max="10" required /></div>
        <div><label>Your review:</label></div>
        <textarea name="reviewtext" class="review-textarea"></textarea> <br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% endif %}

  <div>
    <u><h2 class="label">User Reviews</h2></u>
    <div class="paper reviewblock">
      {% for review in reviews %}
      <div class="review">
        <h4>
          <span class="hand">{{ review.username }}</span> rated this book
          <span class="hand">{{ review.rating }}</span> on
          <span class="hand">{{ review.timestamp.month }}/{{ review.timestamp.day }}/{{ review.timestamp.year }}</span>:
        </h4>
        <p><span class="hand review-text">{{ review.text }}</span></p>
      </div>
      {% else %} No reviews yet... :'( {% endfor %}
    </div>
  </div>
</div>
<div class="big-buttons">
  <a href="{{ url_for('index') }}"><button class="big-button">Search another book</button></a>
  <a href="{{ url_for('logout') }}"><button class="big-button">Logout</button></a>
</div>
{% endblock %}
