{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %} 
    <h4>Login:</h4>
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="usernamelogin" placeholder="Username">
        <input type="password" name="passwordlogin" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
    <h4>Register:</h4>
    <form action="{{ url_for('registration') }}" method="post">
        <input type="text" name="usernameregister" placeholder="Username">
        <input type="password" name="passwordregister" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
{% endblock %}