<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="body">{% block body %} {% endblock %}</div>
  </body>
</html>
