{% extends "layout.html" %} {% block heading %}
<title>Registration</title>
{% endblock %} {% block body %} {% if taken %}
<h1>Username is already taken, try again:</h1>
<div class="register-login">
  <h4>Register:</h4>
  <form action="{{ url_for('registration') }}" method="post">
    <input type="text" name="usernameregister" placeholder="Username" />
    <input type="password" name="passwordregister" placeholder="Password" />
    <button type="submit">Submit</button>
  </form>
</div>
{% else %}
<h1>Registration Successful</h1>
{% endif %}
<div class="flex-center">
  <a href="{{ url_for('index') }}"><button>Return to Login Page</button></a>
</div>
{% endblock %}
