{% extends "layout.html" %}

{% block heading %}
    <title>Registration</title>
{% endblock %}

{% block body %}
    {% if taken %}
        Username is already taken, try again:
        <form action="{{ url_for('registration') }}" method="post">
            <input type="text" name="usernameregister" placeholder="Username:">
            <input type="password" name="passwordregister" placeholder="Password:">
            <input type="submit" value="Submit">
        </form>
    {% else %}
        Registration Successful
    {% endif %}
    <a href="{{ url_for('index') }}">Return to login page</a>
{% endblock %}