{% extends "layout.html" %} {% block title %} Search {% endblock %} {% block body %}
<div class="search-banner">
  <h4>Hello, {{ username }}!</h4>
  <a href="{{ url_for('logout') }}">
    <button>Logout</button>
  </a>
</div>

<form action="{{ url_for('search') }}" method="POST">
  <div class="search-inputs">
    <u>Search books by:</u>
    <div>
      <label>Title</label>
      <input type="radio" name="searchby" value="title" checked />
    </div>
    <div>
      <label>Author</label>
      <input type="radio" name="searchby" value="author" />
    </div>
    <div>
      <label>ISBN</label>
      <input type="radio" name="searchby" value="isbn" />
    </div>
  </div>
  <div class="search-inputs">
    <input type="text" name="searchterm" placeholder="Search" class="searchbar" />
    <button type="submit">Submit</button>
  </div>
</form>

{% if searched %}
<h1>Search results:</h1>

<div class="search-results">
  {% for book in books %}
  <div>
    <a href="{{ url_for('book', book_id=book.id) }}">
      <button class="search-result"><span class="i">{{ book.title }}</span> <br />by {{ book.author }}</button>
    </a>
  </div>

  {% else %}
  <h2>No matching books...</h2>
  {% endfor %}
</div>
{% endif %} {% endblock %}
